body {
  min-height: 4000px;
}

.jumbotron {
  padding-top: 8rem;
  background-color: #f8f8ff;
}

section {
  padding-top: 5rem;
}

div {
}

section1 {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

div-2 {
  padding: 100px;
}
